body{
    margin: 0px;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: #fefefe;
}

a{
    color: #ff7500;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: #FAA65F;
    text-decoration: underline;
}